<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <footer th:fragment="footer">
        <footer class="section footer-corporate context-dark">
            <div class="footer-corporate-bottom-panel">
                <div class="container">
                    <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
                        <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
                        </div>
                        <div class="col-sm-6 col-md-4 order-sm-first">
                            <!-- Rights-->
                            <p class="rights"><span>&copy;&nbsp;</span><span
                                    class="copyright-year"></span><span>&nbsp;</span><span>Juara Coding Batch 10, PT.
                                    DIKA</span><br> All Rights Reserved <br>Design
                                by Team 2</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </footer>
</body>

</html>