<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <title>Home</title>
  <div th:insert="fragments/linkcssfragment :: linkcss"></div>
</head>

<body>
  <div class="page">
    <!-- Breadcrumbs -->
    <section class="breadcrumbs-custom-inset">
      <div class="breadcrumbs-custom context-dark bg-overlay-60">
        <div class="container">
          <h2 class="breadcrumbs-custom-title">Registration</h2>
          <ul class="breadcrumbs-custom-path">
        </div>
        <div class="box-position" style="background-image: url(images/bg.jpg);"></div>
      </div>
    </section>
    <h1>AKUN TIDAK ADA. SILAKAN KLIK <a href="/signup"><b style="color: blue;" >DI SINI</b></a> UNTUK MENDAFTAR.</h1>
    

  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript-->
  <script src="js/core.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>