<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <title>Home</title>
  <div th:insert="fragments/linkcssfragment :: linkcss"></div>
</head>

<body>
  <div class="page">
    <div th:insert="fragments/header :: header"></div>
    <h1>ISI KONTEN DI SINI</h1>
    

  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript-->
  <script src="js/core.min.js"></script>
  <script src="js/script.js"></script>
  <div th:insert="fragments/footer :: footer"></div>
</body>

</html>